<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Home</h1>
        </div>
        <ul>
            <li data-th-each="sensor : ${sensors}">
                <div>[[${sensor.name}]] - [[${sensor.description}]]</div>
                <ul>
                    <li data-th-each="field : ${sensor.values}">
                        [[${field.key}]]: [[${field.value}]]
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
</body>
</html>